/*zero style*/
* {
    padding: 0;
    margin: 0;
    border: 0
}

*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:active,
:focus {
    outline: 0
}

a:active,
a:focus {
    outline: 0
}

aside,
footer,
header,
nav {
    display: block
}

body,
html {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

button,
input,
textarea {
    font-family: inherit
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a,
a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style: none
}

img {
    vertical-align: top
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400
}

/*----------*/
/* fonts */
@font-face {
    font-family: 'BebasNeue';
    src: url(src/fonts/AA-BebasNeue.ttf) format('ttf');
    font-weight: 400;
}

/* // <uniquifier>: Use a uniquifier for the class name */
/* // <weight>: Use a value from 200 to 700 */

* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*-fonts-*/
/* header */
.header {
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;

}

.rightblock {
    width: 35%;
    height: 120%;
    background-color: rgb(0 6 92 / 82%);
    border: 2px solid white;
    backdrop-filter: blur(5px);
    z-index: 200;
    position: fixed;
    overflow: hidden;
    rotate: 15deg;
    top: -5%;
    right: -11%;
}

.rightblock-content {
    width: 20%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    /* margin-right: 1%;
    margin-top: 6%; 
    padding: 0 1%;
    border-right: 2px solid white;
     background-color: antiquewhite; */
    z-index: 300;
}

.rightblock-content-content {
    margin-right: 1vw;
    padding-right: 1vw;
    border-right: 2px solid white;
}

.rightblock-content-emblem {
    width: 10vw;
    height: 10vw;
    border: 6px solid white;
    border-radius: 50%;
    background-color: rgb(255, 196, 35);
    display: flex;
    justify-content: center;
    margin: 0 0 0 auto;
    padding: 1vh;
}

.rightblock-content-emblem img {}

.rightblock-content-title {
    width: 100%;
    /* font-weight: 600; */
    font-size: 1.7vw;
    text-align: right;
    margin-top: 10%;
    color: white;
}

.rightblock-content-qr {
    width: 100%;
    display: flex;
    /* position: absolute; */
    bottom: 0;
    margin-top: 10vh;
    border: 2px solid white;
    border-radius: 20px;
    z-index: 300;
}

.rightblock-content-qr--qr {
    width: 50%;
    border-right: 2px solid white;
}

.rightblock-content-qr--qr img {
    width: 100%;
}

.rightblock-qr-title {
    width: 50%;
    font-weight: 600;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    padding: 2%;
    justify-content: space-around;
}

.rightblock-qr-title a {
    text-decoration: underline;
    color: white;
}

.navigation {
    position: absolute;
    z-index: 200;
    background-color: rgb(0 6 92 / 82%);
    backdrop-filter: blur(5px);
    width: 17%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
    border-right: 2px solid white;
}

.navigation-title {
    font-size: 1.75vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 5%;
}

.navigation ul li {
    margin: 15% 0;
    font-size: 1.7vw;
}

.navigation ul li a {
    display: block;
    width: 100%;
    color: white;
    padding: 10px 15px;
    border-left: 2px solid white;
    transition: 0.7s;
}

.navigation ul li a:hover {
    color: rgb(0 6 92);
    box-shadow: inset 400px 0 0 0 #fff;
    padding-left: 5px;
}

.navigation-mobile {
    position: absolute;
    z-index: 200;
    background-color: rgb(0 6 92 / 82%);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 10vh;
    padding: 1.5vh 3vw;
    display: none;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-bottom: 5px solid white;
}

.navigation-mobile ul li a {
    display: none;
    width: 100%;
    color: white;
    font-size: 2vw;
    padding: 10px 15px;
    border-left: 2px solid white;
    transition: 0.7s;
    margin-bottom: 5vh;
}

.navigation-mobile ul li a:hover {
    color: rgb(0 6 92);
    box-shadow: inset 400px 0 0 0 #fff;
    padding-left: 5px;
}

.navigation-mobile-burger {
    height: 100%;
    width: fit-content;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.navigation-mobile-title {
    font-size: 5vw;
    color: white;
    text-transform: uppercase;
}

.mobile-menu-list {
    position: absolute;
    left: 0;
    top: 10vh;
    width: 35vw;
    height: 90vh;
    background-color: rgb(0 6 92 / 82%);
    backdrop-filter: blur(5px);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    padding: 2vw 1vw;
    animation: fadeInLeft 1s;
}

.burgermenu,
.crossmenu {
    height: 100%;
    width: auto;
}

.content-mobile {
    width: 100vw;
    height: 30vh;
    display: none;
    background-color: rgb(0 6 92 / 82%);
    border-top: 5px solid white;
    backdrop-filter: blur(5px);
    z-index: 200;
    position: fixed;
    bottom: 0;
    overflow: hidden;
}

.content-mobile-wrapper {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 20vh;
}

.content-mobile-emblem {
    width: 20vh;
    height: 20vh;
    border: 5px solid white;
    border-radius: 50%;
    background-color: rgb(255, 196, 35);
    display: none;
    justify-content: center;
    margin: auto;
    padding: 0.5vw;
    z-index: 200;
}

.hidden {
    opacity: 0;
}

.hidden-d {
    display: none;
}

/*-header-*/
/*slider*/
.hcg-slide-container {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

/**/
#hcg-slider-1 .hcg-slide-container {
    width: auto;
    height: auto;
}

.hcg-slider {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hcg-slide-container {
    max-width: 100%;
    display: inline-block;
    position: relative;
}

.hcg-slides {
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
}

.hcg-slides img {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    object-fit: cover;
}

/*-slider-*/
/* animation */
.animated {
    animation-name: fadeInOut;
    animation-duration: 10.5s;
}

.loadPage {
    animation-name: loadPage;
    animation-duration: 2s;
}

.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

.fadeInButton {
    animation-name: fadeInButton;
    animation-duration: 1s;
}

.fadeOutButton {
    animation-name: fadeOutButton;
    animation-duration: 1s;

}

@keyframes fadeInOut {
    0% {
        opacity: 0.1;
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
    }

    25% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1.075) translateY(-10px);
        transform-origin: top;
    }
}

@keyframes loadPage {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInButton {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes fadeOutButton {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

/*-animation-*/
/* main */
.wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* media */
@media screen and (max-width: 990px) {
    .navigation {
        display: none;
    }

    .rightblock-content-emblem {
        width: 13vw;
        height: 13vw;
    }

    .rightblock-content-title {
        font-size: 2vw;
    }

    .rightblock-content {
        width: 23%;
    }

    .rightblock-qr-title {
        font-size: 1.3vw;
    }

    .rightblock-content-emblem {
        border: 4px solid white;
    }

    .rightblock {
        right: -9%;
    }

    .navigation-mobile {
        display: flex;
        width: 35vw;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
    }

    .navigation-mobile-title {
        font-size: 2vw;
    }

    .navigation-mobile ul li a {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
    }

    .rightblock {
        display: none;
    }

    .rightblock-content {
        display: none;
    }

    .navigation-mobile {
        width: 100%;
    }

    .content-mobile {
        display: flex;
        justify-content: center;
        padding: 1vh;
        align-items: flex-end;
    }

    .content-mobile-qr {
        width: 68%;
        height: 60%;
        padding: 5px;
        border-top: solid 5px #fff;
        display: flex;
        align-items: center;
    }

    .content-mobile-qr--qr,
    .content-mobile-qr-title {
        width: 50%;
        height: 100%;
    }

    .content-mobile-qr--qr img {
        /* width: 100%; */
        height: 100%;
        width: auto;
    }

    .content-mobile-qr-title {
        font-size: 6vw;
        display: flex;
        align-items: center;
    }

    .content-mobile-qr-title a {
        color: white;
        text-decoration: underline;
    }

    .mobile-menu-list {
        width: 100vw;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5vw 10vw;
        z-index: 300;
    }

    .navigation-mobile ul li a {
        font-size: 5vw;
    }

    .navigation-mobile ul li a:hover {
        box-shadow: inset 800px 0 0 0 #fff;
    }

    .navigation-mobile-title {
        font-size: 6vw;
    }

    .content-mobile-emblem {
        display: flex;
    }
}